language: php

dist: trusty

sudo: false

addons:
    postgresql: '9.6' # require 9.5+ (on conflict query)
    mariadb: '10.0'

cache:
    directories:
        - $HOME/.composer/cache

php:
    - 7.4
    - 8.0

install:
    - composer install --no-interaction --prefer-dist

before_script:
    # Init Postgresql database
    - psql -c 'CREATE DATABASE inline;' -U postgres
    - psql inline < tests/sql/postgres.sql

    # Init Mysql database
    - mysql -e "CREATE DATABASE inline;" -u root
    - mysql -u root inline < tests/sql/mysql.sql
    - mysql -e 'SET PASSWORD FOR "root"@"localhost" = PASSWORD("");'

script:
    - php vendor/bin/phpstan
    - php vendor/bin/tester ./tests

jobs:
    include:
    -   stage: Code Standard Checker
        php: 8.0
        script:
            - php vendor/bin/phpcs --standard=PSR12 ./src ./tests

    -   stage: Code Coverage
        php: 8.0
        script:
            - php vendor/bin/tester tests -p phpdbg --coverage ./coverage.xml --coverage-src ./src
        after_script:
            - wget https://github.com/satooshi/php-coveralls/releases/download/v1.0.1/coveralls.phar
            - php coveralls.phar --verbose --config ./.coveralls.yml
